.offcanvas-body .nav{
    padding-left: 2rem;
}

@media (max-width:992px){
    .tp-search-input{
        position: relative;
    }
    .tp-search-input input{
        padding-left: 30px !important;
        border-color: var(--tp-theme-secondary) !important;
    }
    .tp-search-input .searchicon{
        position: absolute;
        top: 8px;
        left: 7px;
        font-size: 16px;
        color: var(--tp-theme-secondary) !important;
    }
}

@media (max-width:767px){
    .custom-arrow {
        display: none !important;
    }
    .tp-header-search-2 input {
        height: 45px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        min-width: 180px !important;
    }
    .tp-banner-title-2 {
        font-size: 20px !important;
    }
    .tp-btn-border-sm {
        padding: 5px 10px !important;
    }
    .tp-btn {
        font-size: 13px !important;
    }
    .tp-product-thumb-2 img {
        height: 90px !important;
    }

    .tp-product-tag-2 a {
        font-size: 12px !important;
    }
    .tp-product-title-2 {
        font-size: 14px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .tp-slider-thumb-2-gradient {
        top: 30% !important;
        left: 50% !important;
        width: 250px !important;
        height: 250px !important;
        transform: translate(-50%, -50%);
    }
    .tp-slider-thumb-2 img {
        max-height: 280px !important;
        object-fit: contain;
    }

    .tp-slider-active-2 {
        padding-top: 50px;
    }
    .tp-slider-2-shape-1 {
        display: none;
    }

    .tp-product-action-btn-2{
        width: 27px !important;
        height: 27px !important;
        line-height: 27px !important;
    }
    .tp-product-action-btn-2 svg {
        width: 13px !important;
    }
    .tp-product-item-2:hover .tp-product-action-2 {
        left: 2px !important;
    }

    .tp-header-bottom-2 {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        /* position: relative !important; */
    }
    .offcanvas.offcanvas-top{
        max-height: 100px !important;
    }
    .tp-search-area{
        padding: 20px 15px 10px !important;
    }
}

@media (max-width:575px){
    .tp-slider-thumb-2-shape-2 {
        right: 0px !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .tp-slider-content-2 {
      padding-top: 45px;
    }
  }